*{
    margin: 0 auto;
    padding: 0 auto;
}
.banner{
    width: 100%;
    height: 545px;
    background-color: gold;
    margin: auto;
}
.content{
    width: 100%;
    height: 1000px;
    background-color: #8822BB;
    float: left;
    background-image: url("https://data.1freewallpapers.com/download/lake-twilight-moon-dark-landscape-1600x900.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 800px;
    background-attachment: fixed;
}
.content h1{
    color: white;
    background-color: rgba(0, 0, 0, 0.233);
    text-align: center;
    font-size: 100%;
    min-width: 300px;
    max-width: 500px;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
}
.navbarra{
    width: 100%;
    background-color:red;
}
.container{
    max-width: 1245px;
    min-width: 300px;
    margin: auto;
    color: white;
    background-color: #8822BB;
    border-radius: 3px;
    min-height: 98%;
    max-height: 904px;
    background-image: url(https://cdn.pixabay.com/photo/2022/03/27/21/01/rows-7096095_1280.png);
}
nav{
    width: 100%;
    margin-bottom: 10px;
}
nav div ul li{
    margin-left: 13px;
    margin-top: 15px;
}

.coluna{
    float: left;
    max-width: 50%;
    min-width: 453px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
    min-height: 500px;
    max-height: 450px;
    margin-bottom: 14px;
    border-radius: 3.3px;
}

footer{
    width: 100%;
    height: 50px;
    background-color: black;
    float: left;
}

h4{
    font-size: 10px;
    margin: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.753);
}

h5{
    margin: 15px;
    text-align: justify;
    color: white;
}
h6{
    margin: 15px;
    text-align: justify;
    color: white;
}

.carousel{
    margin: 15px;
    height: 345px;
}

p{
    width: 167px;
    font-size: 100%;
}

.d-block{
    height: 345px;
    width: 100%;
    object-fit: cover;
}

.upfooter{
    width: 98%;
    height: 200px;
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 7px;
    border-radius: 3px;
}
a{
    color: inherit;
    text-decoration: none;
}